body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
    transition: background-color 0.5s ease;
  }
  
  .hidden {
    display: none;
  }
  
  #weatherDisplay {
    margin-top: 20px;
  }
  
  img {
    max-width: 300px;
    margin-top: 10px;
  }
  